{% extends 'base.html' %}

{% block content %}
    <h2>Add to Balance</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Balance</button>
    </form>

    <style>
    input {
        background-color: white;
        color: #6366f1;
        border: 2px solid #6366F1;
        border-radius: 0.5rem;
        border-radius: 0.5rem; /* Rounded corners */
        width: 100%; /* Full width */
        padding: 0.5rem; /* Padding for input fields */
    }
    </style>
{% endblock %}
