{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="mx-auto relative bg-indigo-500 p-10 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-white text-2xl font-bold mb-6 text-center">Change Password</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="text-white flex flex-col gap-4">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="bg-white hover:bg-indigo-300 text-indigo-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Change Password</button>
            </div>
        </form>
        {% if messages %}
            <ul class="mt-4">
                {% for message in messages %}
                    <li class="text-white text-center {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<style>
    input {
        background-color: white;
        color: #6366f1;
        border: 2px solid #6366F1;
        border-radius: 0.5rem;
        border-radius: 0.5rem; /* Rounded corners */
        width: 100%; /* Full width */
        padding: 0.5rem; /* Padding for input fields */
    }
</style>
{% endblock %}
