{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="py-4 flex flex-col gap-10">
        <div class="flex flex-row text-sm gap-4 text-gray-400">
            <a href="{% url 'home' %}">Home</a>
            <span class="cursor-default">|</span>
            <a href="#">{{ product.category.name }}</a>
            <span class="cursor-default">|</span>
            <a class="text-gray-700 font-bold" href="#">{{ product.name }}</a>
        </div>

        <div class="flex flex-row items-center justify-between gap-10 px-12 justify-items-start">
            <div class="flex flex-col w-1/2 gap-6">
                <div>
                    <img
                        class="rounded-md cursor-pointer hover:ring-2 hover:ring-gray-300 p-1"
                        src="https://prd.place/500/500?id={{product.id}}"
                        onclick="window.open('https://prd.place/500/500?id={{product.id}}')"
                    />
                </div>
                <div class="flex flex-row gap-4 w-full overflow-auto p-1">
                    <img class="rounded-md hover:ring-2 hover:ring-gray-300 cursor-pointer" src="https://placehold.co/75x75">
                    <img class="rounded-md hover:ring-2 hover:ring-gray-300 cursor-pointer" src="https://placehold.co/75x75">
                    <img class="rounded-md hover:ring-2 hover:ring-gray-300 cursor-pointer" src="https://placehold.co/75x75">
                </div>
            </div>
            <div class="flex flex-col justify-between gap-4 w-1/2 self-start p-2">
                <div>
                    <div class="text-base">
                        <i class="fa-solid fa-star text-yellow-500"></i> 
                        <span class="pt-2">4.2</span>
                    </div>
                    <h1 class="font-bold text-2xl mt-2">
                        {{ product.name }}
                    </h1>
                </div>
                <hr>
                <div>
                    <h1 class="font-bold text-3xl text-[#f97316] mb-4">
                        ${{ product.price }}
                    </h1>
                    <div>
                        <div class="flex flex-col mb-2">
                            <span class="font-bold">Description</span>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="flex flex-row gap-10">
                            <span class="font-bold">Stock</span>
                            <p id="stock">{{ product.stock }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-between gap-10">
            <div class="w-full">
                <!-- Features Section -->
                <div class="flex flex-row gap-10 cursor-default text-sm justify-center">
                    <!-- Feature: Secure Marketplace -->
                    <div class="flex flex-row items-center gap-3">
                        <img src="https://www.svgrepo.com/show/18883/shield.svg" width="40" height="40">
                        <div>
                            <p class="font-bold">Secure</p>
                            <p>Receive product first</p>
                        </div>
                    </div>
                    <!-- Feature: Free Shipping -->
                    <div class="flex flex-row items-center gap-3">
                        <img src="https://www.svgrepo.com/show/445701/delivery-fast.svg" width="40" height="40">
                        <div>
                            <p class="font-bold">Free Shipping</p>
                            <p>Worldwide available</p>
                        </div>
                    </div>
                    <!-- Feature: Hassle-free Returns -->
                    <div class="flex flex-row items-center gap-3">
                        <img src="https://www.svgrepo.com/show/447761/return.svg" width="40" height="40">
                        <div>
                            <p class="font-bold">Return Available</p>
                            <p>See policy</p>
                        </div>
                    </div>
                </div>            
            </div>  

            <!--  -->
            <div class="flex w-full justify-center">
                <form class="flex flex-row justify-row gap-4" action="{% url 'add_to_cart' pk=product.pk %}" method="post">
                    {% csrf_token %}
                    <i  onclick="decrease()" class="fa-solid fa-minus rounded-full hover:bg-gray-300 transition duration-150 ease-in-out self-center cursor-pointer p-2"></i>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" max="{{product.stock}}"
                        class="rounded ring-2 ring-gray-300"
                    >
                    <i  onclick="increase()" class="fa-solid fa-plus rounded-full hover:bg-gray-300 transition duration-150 ease-in-out self-center cursor-pointer p-2"></i>
                    <input class="bg-[#f97316] rounded-md justify-center py-2 px-6 font-bold text-base text-white hover:bg-[#fdba74] transition duration-150 ease-in-out cursor-pointer" type="submit" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>
    <script>
        stock = document.getElementById("stock");
        quantity = document.getElementByName("quantity");
        function increase(){
            quantity.value++;
        }

        function decrease(){
            if(quantity.value > 1)
                quantity.value--;
        }
    </script>
{% endblock %}
